:root {
    --roxo: #7680b5;
    --black: #1a1a2e;
    --azul: #333d57;
    --azulClaro: #bcddf0;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%; 
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 100px;
    width: 290px;
    height: 450px;
    padding: 25px 20px;
    background: var(--azul);
    box-shadow: 0 0 10px #3d9eaccc;
    border-radius: 5px;
    gap: 20px;
}

h2{
    color: var(--azulClaro);
    margin-bottom: 10px;
    font-size: 17px;
}

img{
    border-radius: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

p {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    color: var(--azulClaro);
}

.botaoSair {
    background-color: var(--roxo);
    color: #d3f1f7;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.botaoSair:hover {
    background-color: #50558b;
}

.botaoSair:active {
    transform: scale(1.05);
}
